<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact page</title>
  </head>
  <body>
    <div>
      <h1>Contact page</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste similique
        rerum ut. Voluptates culpa natus quas, itaque tempora placeat debitis
        recusandae molestias repudiandae harum reiciendis officiis, autem earum
        sed dignissimos?
      </p>
    </div>
  </body>
</html>
